# Build folders
build
dist
.next
node_modules
docker/nginx/certs/

# Upload folders
src/paylaod/src/media/

# Environment var files
.env

# Database files
/*/db

# Other Misc files / folders
.DS_Store
