:root {
  --color-grayscale-0: #000000;

  --color-grayscale-127: #808080;

  --color-grayscale-255: #ffffff;

  --color-base-0: #ff0000;
  --color-base-50: #b2ffd6;
  --color-base-100: #8ea6cc;
  --color-base-150: #cc8ec3;
}